## Table of Content
1. **[User-Define Function](#User_Define)**
2. **[Lambda Functions](#Lambda_Functions)**
    - 2.1 [Map Function](#Map_Function)
    - 2.2 [Filter Function](#Filter_Function)
    - 2.3 [Reduce Function](#Reduce_Function)

### Let's begin with some hands-on practice exercises

<a id='User_Define'></a>
## 1. User-Define Function:

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Define the python function to swap first and last value of the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [15, 78, 10, 45, 89]

In [1]:
def gl_swap(*x):
    list_x = list(x)
    n = len(list_x)
    a = list_x[-1]
    b = list_x[-n]
    list_x[-n],list_x[-1]=a,b
    return(list_x)

In [2]:
gl_swap(15,78,10,45,89)

[89, 78, 10, 45, 15]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Define the python function which adds two global numeric variables (1204 and 344536)<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [3]:
def gl_add(x,y):
    z = x+y
    return(z)

In [4]:
gl_add(1204,344536)

345740

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Define the python function to check whether the number 33 is even or odd<b>   
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
def gl_evenodd(x):
    if x%2==0:
        print("even")
    else:
         print("odd")

In [6]:
gl_evenodd(37)

odd

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Define the python function to calculate the factorial of the number<b>  
                </font>
            </div>
        </td>
    </tr>
</table>

In [43]:
def gl_fac(num):
    if num<0:
        print("negative num  has no factorial ")
    elif num==0:
        print('factorial is 1')
    else:
        for i in range(1,num):
            x =num*i
            num = x
        return(num)

In [44]:
gl_fac(3)

6

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Define a function to add new items(1,2,3) in the empty list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [23]:
def gl_additems(*x):
    x=list(x)
    list1 =[]
    for i in x:
        list1.append(i)
    return (list1)
gl_additems(1,2,3)

[1, 2, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6.  Write a python function to test whether the two words start with the same character or not (take the inputs from the user)<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [11]:
def gl_samechar(word1,word2):
    if word1[0] == word2[0]:
        print("Two words start with the same character- ")
    else:
        print("Two words start with the different character- ")
    return(word1[0]==word2[0])

In [13]:
gl_samechar("siva","sai")

Two words start with the same character-

True

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Check if the string contains a vowel or not (take the inputs from the user)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [69]:
def check(string):
    string = string.lower()
    vowels = set("aeiou")
    s = set({})
    for char in string:
        if char in vowels:
            s.add(char)
            return("string contain vowels")
    else:
        return("string contain no vowels")

In [70]:
check("ssssss sssss")

'string contain no vowels'

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Write the python program to get the unique values from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [114]:
##Use the list given below:
#my_list = [1,2,3,3,11,34,3,3,4,5]
def dup(str):
    x = set(my_list)
    y = list(x)

print(y)
dup([1,2,3,3,11,34,3,3,4,5])

[1, 2, 3, 34, 4, 5, 11]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the common characters from the given two strings<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [79]:
#Use the strings given below
string1 = 'Angel'
string2 = 'apple'

s1 = set(string1)
s2 = set(string2)
common_characters = s1.intersection(s2)

In [80]:
common_characters

{'e', 'l'}

In [81]:
len(common_characters)

2

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Define a function to perform addition, multiplication, and subtraction of the given two numbers<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the number given below:**<br>
a = 15<br>
b = 4

In [82]:
def gl_ams(a,b):
    Sum =a+b
    mul =a*b
    sub =a-b
    return(Sum,mul,sub)

In [84]:
gl_ams(15,4)

(19, 60, 11)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>11. Define a function to find the sum of all elements in the list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [34, 34, 55, 2, 56, 45]

In [86]:
def gl_lstadd(x):
    sum = 0
    for i in x:
        sum = sum +i
    return(sum)

In [87]:
gl_lstadd([34,34,55,2,56,45])

226

<a id='Lambda_Functions'></a>
## 2. Lambda Functions

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>12. Find the minimum of the two numbers(34 and 78) using the lambda function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [89]:
result = lambda x,y:min(x,y)

In [91]:
print(result(34,78))

34

<a id='Map_Function'></a>
### 2.1 Map Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>13. Calculate the square of each element from the given tuple using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the tuple given below:**<br>
number = (11, 21, 30, 34)

In [99]:
number = (11, 21, 30, 34)
list(map(lambda x:x**2,number))

[121, 441, 900, 1156]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>14. Read the given sentence and print the length of each word in a sentence in a list using the map function<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the sentence given below:**<br>
sentence = 'Python for Data Science'

In [101]:
sentence = 'Python for Data Science'
list(map(lambda x:len(x),sentence.split()))

[6, 3, 4, 7]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>15. Find the remainder of all the numbers present in a list after dividing by 5
<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [ 74, 85, 14, 23 ]

In [102]:
numbers = [ 74, 85, 14, 23 ]
list(map(lambda x:x%5,numbers))

[4, 0, 4, 3]

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>16. Concatenate elements from the list1 with the corresponding element of list2<b>
                </font>
            </div>
        </td>
    </tr>
</table>

** Use the list given below:**<br>
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']<br>
list2 = [11,22,33,44,55,66,77,88,99]

In [105]:
list1 = ['I', 'felt', 'happy', 'because', 'I', 'saw', 'the', 'others', 'were', 'happy']
list2 = [11,22,33,44,55,66,77,88,99]
l=list(map(lambda x:str(x),list2))
con_list=list(map(lambda x,y:(x+y),list1,l))
print(con_list)

['I11', 'felt22', 'happy33', 'because44', 'I55', 'saw66', 'the77', 'others88', 'were99']

<a id='Filter_Function'></a>
### 2.3 Filter Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>17. Find the common elements from the given array using filter method<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the array given below:**<br>
arr1 = ['t','u','t','o','r','i','a','l']<br>
arr2 = ['p','o','i','n','t']

In [107]:
arr1 = ['t','u','t','o','r','i','a','l']
arr2 = ['p','o','i','n','t']
list(filter(lambda x:x in arr1,arr2))

['o', 'i', 't']

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>18. Remove odd numbers from the given list<b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]

In [109]:
numbers = [21, 23, 443, 355, 743, 823, 110, 1241, 3673, 352, 278, 37, 7]
list(filter(lambda x:x%2!=0,numbers))

[21, 23, 443, 355, 743, 823, 1241, 3673, 37, 7]

<a id='Reduce_Function'></a>
### 2.4 Reduce Function

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>19. Calculate the sum of the numbers from 1 to 100<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

In [116]:
from functools import reduce
n = range(1,101)
lists = []
for i in n:
    lists.append(i)
print(lists)
reduce(lambda x,y:x+y,lists)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

5050

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>20. Determine the maximum of a given list using reduce function<b> 
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the list given below:**<br>
my_list = [47,11,42,102,13]

In [117]:
my_list = [47,11,42,102,13]
reduce(lambda x,y:max(x,y),my_list)

102